<div class="container">
	<%if has_role?(:admin)%>
    <center><%= link_to 'Create New Category' ,new_category_path%></center>
  <%end%>
		<center>
      <h3>
        All Categories
      </h3>
    </center>

	<table class="table">
    <thead>
    	<tr>
          <th>Name</th>
        	<th></th>
        	<th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
<% @categories.each do |category| %>

      		<tr>
        		<td>
              <%= link_to category.name ,category_path(category)%>
            </td>
        		<%if has_role?(:admin)%>
        		  <td>
                <%= link_to 'Delete' ,category_path(category), :method=>:delete%>
              </td>
        		<%end%>
        		<%if has_role?(:admin)%>
        		  <td>
                <%= link_to 'Edit' ,edit_category_path(category)%>
              </td>
        		<%end%>
            <%if has_role?(:admin)%>
              <td>
                 <%= link_to "Add Product", {:controller => "products", :action => "new", :id => category.id }%>
              </td>
            <%end%>
      		</tr>

    	</tbody>
<%end%>
  </table>
</div>




