<div class="container">
	<center><h1>Categories</h1></center>
<div class="row">
	<div class="col-md-12 btn btn-success">
		<center><%= link_to 'Create New Category' ,new_product_path%></center>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<h3>Names</h3>
	</div>
</div>
<div class="row">
<% @category.each do |category| %>	
	<div class="col-md-6">
		<%= link_to category.name ,product_path(category)%>
	</div>
    <div class="col-md-3">
    	<%= link_to 'Delete' ,product_path(category), :method=>:delete%></td>
    </div>
    <div class="col-md-3">
		<%= link_to 'Edit' ,edit_product_path(category)%>
	</div>	
	<%end%>
</div>
<br>
<div class="row">
	<div class="col-md-12 btn btn-success">
		<%= link_to 'Back' ,new_product_path%>	
	</div>
</div>
<%=link_to "Logout" , destroy_user_session_path, method: :delete %><br>

</div>