<div class="container">
<% if @product.present? %>
<center><h3>All Products</h3></center><br>
<table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
<%@product.each do |product|%><br>
<tbody>
<tr>
<div class="row" > 
  <div class="col-md-10" >                 
      <td>
        <h3>
          <%=product.name%>
        </h3>
      </td>
      <td>
        <%=image_tag product.image.url(:thumb)%>
      </td>
      <td>
        <h5>
          <%= product.price%>
        </h5>
      </td>
      <td>
        <h5>
          <%= product.description%>
        </h5>
      </td>
      <%if has_role?(:admin)%>
        <td>
          <%=link_to "Delete", product_path(product), method: :delete%>
        </td>
      <%end%>
  </div>
   <div class="col-md-2">
        <td>
         <div class="pull-right">
            <%= form_for (@order_item), remote: true do |f|%>
            <%= product.price %>
              <div class="form-group">
                <%= f.hidden_field :product_id, value: product.id%>
                <%= f.number_field :quantity, value: 1, min: 1, class: 'form-control' %>
              </div>
                  <%= f.submit "Add to Cart", class: "btn btn-success btn-sm form-control" %> </td>
            <%end%>
         </div>
        </td>
    </div>
  </div>
</div>

  </div>
  <%end%>
</tr>
</tbody>
</table>
<%else%>
  <h5> No Product of this category</h5>
<%end%>

