<div class="container">
<% if @category.products.present? %>
<center><h3>Products of <%=@category.name%></h3></center><br>
<table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    </thead>
<%@category.products.each do |product|%><br>
<tbody>
<tr>
   		<td><%=product.name%></td>
        <td><%=image_tag product.image.url(:thumb)%></td>
        <td><%=product.price%></td>
        <td><%=product.description%></td>
        <%end%>
</tr>
</tbody>
</table>


<%else%>
<h5> No Product of this category</h5>
<%end%>
<br>
<div class="btn btn-success col-md-3">
<%= link_to "Back" , products_path%>
</div>