<!DOCTYPE html>
<html>
  <head>
    <title>Shopping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="#" >Shopping Center</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <%= link_to "Categories", root_path %>
              </li>
              <li>
                <%=link_to "Products" , products_path, class: "nav navbar-nav" %>
              </li>
              <li>
                <%=link_to "Logout" , destroy_user_session_path, method: :delete, class: "nav navbar-nav" %>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active cart"><%= render 'layouts/cart' %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
     
  </body>
</html>
<% unless flash.empty? %>
  <% msgs = [] %>
  <% flash.each do |f| %>
    <% msgs << [f[0].to_s.gsub('alert', 'error').gsub('notice', 'success'), f[1]] %>
  <% end %>
  
  <script>
    var msgs = #{raw(msgs)}
    $(document).ready(toast(msgs));
    function toast(msgs){
      msgs.forEach(function(msg){
        toastr[msg[0]](msg[1])
      })
    }
  </script>
<% end %>
<%= yield %>

